<div class="musiclistclass collection waves-color-demo" ng-controller="musiclistController">
        <h5 class="trackClass">Music Tracks</h5>
        <div class="input-field searchitems col s3">
            <input id="search_name" type="text" class="validate" ng-model="test">
            <label class="lablesearch" for="search_name">&#128269; &nbsp;&nbsp;search Song</label>
        </div>
        <div class="musiclist_display">
                <ul id="uisongId" class="dropupMenu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
                <li class="songList"  ng-repeat="music in allMusics | filter:test">
                        <div class="mainList">
                            <div class="songName">{{music.name}} </div>
                            <div class="songRate">{{music.rate}}★</div>
                        </div>
                </li>
            </ul>
        </div>
        <div class="col s12">
        <button class="btn waves-effect waves-light newaddbutton"> <a ui-sref="addnewmusic" class="collection-item">Add New Track</a>
           </button>
        </div>
</div>